* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body > * {
  padding-top: 2rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

form * {
  display: block;
  width: 300px;
}

form label {
  margin: 0.25rem 0;
}

form input {
  padding: 0.25rem 0;
  margin: 0.25rem 0;
}

form input[type="submit"] {
  margin-top: 1rem;
}

button {
  padding: 0.25rem 1rem;
  margin: 1rem 0;
}

.user-details {
  min-height: 300px;
}
